<!doctype html>
<html>
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <title>{{#resume.basics}}{{name}}{{/resume.basics}}</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
  <style>
  {{{css}}}
  </style>
  
  </head>
  <body>
  
  <div id="resume">
    {{> basics }}
    {{> skills }}
    {{> work }}
    {{> projects }}
    {{> volunteer }}
    {{> education }}
    {{> awards }}
    {{> publications }}
    {{> languages }}
    {{> interests }}
    {{> references }}

  </body>
</html>
