{{#if resume.interests.length}}
<section class="section">
  <header>
    <h2 class='section-title' class='section-title'>Interests</h2>
  </header>
  <section id="interests">
    {{#each resume.interests}}
    <div class="item">
      {{#if name}}
      <h3 class="name">
        {{name}}
      </h3>
      {{/if}}
      {{#if keywords.length}}
      <ul class="keywords">
        {{#each keywords}}
        <li>{{.}}</li>
        {{/each}}
      </ul>
      {{/if}}
      {{#if summary}}
        <div class="summary">{{paragraphSplit summary}}</div>
      {{/if}}
    </div>
    {{/each}}
  </section>
</section>
{{/if}}
